{% extends "base.html" %}
{% block content %}
<!-- <div class="container-fluid"> -->
  <div class="container-fluid">    
    <div class="row">
          <!-- <nav class="col-md-2 d-none d-md-block bg-light sidebar fixed-top nav-offset" id="navbar2"> -->
          <nav class="col-md-2 d-none d-md-block bg-white sidebar fixed-top nav-offset" id="navbar2">
            <div class="sidebar-sticky">
              <!-- <div class="sidebar-sticky"> -->
              <!-- <ul class="nav flex-column"> -->
                <ul class="nav nav-pills nav-stacked spaced">
                <li class="nav-item">
                  <a class="nav-link active" href="#aboutme">
                    About me <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#summary">
                    Summary
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#experience">
                    Experience
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#education">
                    Education
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#certification">
                    Certification
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#technologies">
                    Technologies
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#projects">
                    Projects
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contact">
                    Get in touch
                  </a>
                </li>
              </ul>
            </div>
          </nav>
      
          <main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main"><div class="chartjs-size-monitor" style="left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; visibility: hidden; position: absolute; z-index: -1; pointer-events: none;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <div id="aboutme" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom bg-light">    
              <div class="container">
                  <h1>Profile</h1>
                  <br>
                  <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                  <br>
              </div>
            </div>
            <div id="summary" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom bg-white"> 
              <div class="container">
                  <h1>Summary</h1>
                  <br>
                  <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                  <br>
              </div>
            </div>        
            <div id="experience" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom bg-light">         
              <div class="container">
                  <h1>Experience</h1>
                  <p>Try to scroll this section and look at the navigation list while scrolling!</p>
              </div>
            </div>
            <div id="education" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom bg-white">         
                <div class="container">
                    <h1>Education</h1>
                    <br>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <br>
                </div>
            </div>
            <div id="certification" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom bg-light">         
                <div class="container">
                    <h1>Certification</h1>
                    <br>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <br>
                </div>
            </div>    
            <div id="technologies" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom bg-white">         
                <div class="container">
                    <h1>Technologies</h1>
                    <br>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <br>
                </div>
            </div>   
            <div id="projects" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom bg-light">         
                <div class="container">
                    <h1>Projects</h1>
                    <br>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <br>
                </div>
            </div>
            <div id="contact" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom bg-white">         
                <div class="container">
                    <h1>Contact</h1>
                    <br>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <br>
                </div>
          </div>        
          </main>
        </div>
      </div>
  
{% endblock %}