{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
     <nav class="col-sm col-4 bg-light" id="navbar2">
          <ul class="nav nav-pills nav-stacked flex-column fixed-top-2">
            <li class="nav-item border rounded">
              <a class="nav-link active nav2hover" href="#section1">About me</a>
            </li>
            <li class="nav-item border rounded">
              <a class="nav-link nav2hover" href="#section2">Experience</a>
            </li>
            <li class="nav-item border rounded">
              <a class="nav-link nav2hover" href="#section3">Education</a>
            </li>
            <li class="nav-item border rounded">
              <a class="nav-link nav2hover" href="#section4">Certification</a>
            </li>
          </ul>
      </nav>
      <div class="col-sm-11 col-8">
        <div id="section1" class="bg-light">    
          <h1>Section 1</h1>
          <p>Try to scroll this section and look at the navigation list while scrolling!</p>
        </div>
        <div id="section2" class="bg-white"> 
          <h1>Section 2</h1>
          <p>Try to scroll this section and look at the navigation list while scrolling!</p>
        </div>        
        <div id="section3" class="bg-light">         
          <h1>Section 3</h1>
          <p>Try to scroll this section and look at the navigation list while scrolling!</p>
        </div>
        <div id="section4" class="bg-white">         
          <h1>Section 4</h1>
          <p>Try to scroll this section and look at the navigation list while scrolling!</p>
        </div>      
      </div>
    </div>
  </div>
  
{% endblock %}